<div class="block-benefit" data-animate-sequence>
    <div class="block-benefit__container container" >
        {% if block.cards %}
            <div class="block-benefit__cards" data-animate-sequence-el data-animate-sequence-delay="2">
                {% for card in block.cards %}
                    <div class="block-benefit__card">
                        {% view "^card-benefit" with {
                            card: card
                        } %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>