.block-benefit {
    &__cards {
        display: flex;
        align-items: center;
        

        @include media-breakpoint-down(md) {
            flex-wrap: wrap;
        }
    }

    &__card {
        width: 100%;
        min-width: rem(209);

        &:not(:last-child){
            margin-right: rem(28);

            @include media-breakpoint-down(md) {
                margin-right: 0;
            }
        }

        &:last-child{
            .card-benefit {
                &:after {
                    content: none;
                }
            }
        }

        &:nth-child(even){
            @include media-breakpoint-down(md) {
                .card-benefit {
                    &:after {
                        content: none;
                      
                    }
                }
            }
        }

        @include media-breakpoint-down(md) {
            width: 50%;
            margin-bottom: rem(40);
        }

        @include media-breakpoint-down(sm) {
            min-width: initial;
        }
    
    }

    &__container {
        padding: 0;
    }
}