.card-benefit {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
        width: rem(100);
        height: rem(100);
        background: $color-blue;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: rem(5) solid $color-purple;
        margin-bottom: rem(15);

        @include media-breakpoint-down(sm) {
            width: rem(90);
            height: rem(90);
        }
    }

    &__text {
        text-align: center;

        @include media-breakpoint-down(sm) {
            max-width: rem(100);
        }
    }

  
    &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: rem(5);
        background-image: $i-circle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        right: -55%;
        top: rem(47);
        z-index: -1;

        @include media-breakpoint-down(md) {
            right: -50%;
        }
    }

}