<div class="slider-product" data-slider-product>
	{# {% if slider.heading %}
		<div class="slider-product__heading container">
			{% view '^heading' with {
				heading: slider.heading
			} %}
		</div>
	{% endif %} #}
	<div class="slider-product__content">
		<div class="slider-product__container container">
			<div class="slider-product__base">
				<div class="swiper" data-slider>
					<div class="swiper-wrapper">
						{% for slide in slider.slides %}
							<div class="slider-product__slide swiper-slide">
								{% view '^card-product' with {
									card: slide
								} %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if slider.actions or slider.slides|length > 1 %}
		<div class="slider-product__bottom container" data-fade-in-up data-delay="0.9">
			{% if slider.actions %}
				<div class="slider-product__actions">
					{% for action in slider.actions %}
						<div class="slider-product__action">
							{% view '@button' with {
								button: action
							} %}
						</div>
					{% endfor %}
				</div>
			{% endif %}
			{% if slider.slides|length > 2 %}
				<div class="slider-product__arrows">
					{% view '@nav-arrows' %}
				</div>
			{% endif %}
			{% if slider.slides|length > 1 %}
				<div class="swiper-pagination"></div>
			{% endif %}
		</div>
	{% endif %}
</div>
