@mixin base-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	display: block;
	width: 100%;
	border: 1px solid rgba($color-dark, 0.1);
	border-radius: 0;
	outline: none;
	box-shadow: none;
	font-weight: 300;
	color: $color-gray-2;

	font-size: rem(16);
	line-height: rem(16);

	padding: rem(12) rem(24);
	padding-top: rem(30);
	@include defaultTransition(border-color);

	@include media-breakpoint-down(sm) {
		padding-left: rem(14);
	}

	&:focus {
		// border-color: $color-dark;
		outline: none;
	}

	&::placeholder {
		color: $color-gray-2;
	}

	&::-ms-clear {
    display: none;
  }
}
