.field {
	$root: &;

	position: relative;
	display: block;
	width: 100%;
	font-size: 0;
	line-height: 1;

	&--hidden {
		@include visually-hidden;
	}

	&__label {
		margin-bottom: rem(8);
	}

	&__control {
		position: relative;
	}
}



.textarea {
	padding-top: 0;
}
