{% extends "layouts::_page.twig" %}

{% block content %}


<!--<editor-fold desc="@link-action">-->

		<div class="py-24">
			<div class="container">
				<p class="h2 mb-24"><code>@link</code></p>

				<div class="mb-24">
					<p class="text-lead mb-16"><code>Link</code></p>

					<div style="display: flex; flex-wrap: wrap;">
						{% for link in links %}
							<div class="py-8 px-8">
								{% view '@link' with {
									link: link
								} %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>


		<!--<editor-fold desc="@link-action">-->

		<div class="py-24">
			<div class="container">
				<p class="h2 mb-24"><code>@link-action</code></p>

				<div class="mb-24">
					<p class="text-lead mb-16"><code>Link-action</code></p>

					<div style="display: flex; flex-wrap: wrap;">
						{% for link in links_action %}
							<div class="py-8 px-8">
								{% view '@link-action' with {
									link: link
								} %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		


		

	{# <div>
		<!--<editor-fold desc="@icon">-->

		<div class="py-24">
			<div class="container">
				<p class="h2 mb-24"><code>@icon</code></p>

				<div class="mb-24">
					<p class="text-lead mb-16"><code>24px</code></p>

					<div style="display: flex; flex-wrap: wrap;">
						{% for icon in icons.24px %}
							<div class="py-8 px-8">
								{% view '@icon' with {
									icon: icon
								} %}
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="mb-24">
					<p class="text-lead mb-16"><code>16px</code></p>

					<div style="display: flex; flex-wrap: wrap;">
						{% for icon in icons.16px %}
							<div class="py-8 px-8">
								{% view '@icon' with {
									icon: icon|merge({size: '16'})
								} %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<!--</editor-fold>-->

		<!--<editor-fold desc="@button">-->

		<div class="py-24">
			<div class="container">
				<p class="h2 mb-24"><code>@button circle</code></p>

				<div class="mb-24">
					<div style="display: flex; flex-wrap: wrap;">
						{% for button in buttons_circle %}
							<div class="mb-32 mr-32">
								{% view '@button-circle' with button %}
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="mb-24 px-24 py-24 bg-black">
					<p class="text-lead mb-16 color-white"><code>on black background</code></p>

					<div style="display: flex; flex-wrap: wrap;">
						{% for button in buttons_circle %}
							<div class="mb-32 mr-32">
								{% view '@button-circle' with button %}
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="mb-24 px-24 py-24 bg-purple">
					<p class="text-lead mb-16 color-white"><code>on purple background</code></p>

					<div style="display: flex; flex-wrap: wrap;">
						{% for button in buttonsCircleBackgroundPurple %}
							<div class="mb-32 mr-32">
								{% view '@button-circle' with button %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<div class="py-24">
			<div class="container">
				<p class="h2 mb-24"><code>@button</code></p>

				<div class="mb-24">
					<div style="display: flex; flex-wrap: wrap;">
						{% for button in buttons %}
							<div class="mb-32 mr-32">
								{% view '@button' with button %}
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="mb-24 px-24 py-24 bg-black">
					<p class="text-lead mb-16 color-white"><code>on black background</code></p>

					<div style="display: flex; flex-wrap: wrap;">
						{% for button in buttonsBackgroundBlack %}
							<div class="mb-32 mr-32">
								{% view '@button' with button %}
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="mb-24 px-24 py-24 bg-purple">
					<p class="text-lead mb-16 color-white"><code>on purple background</code></p>

					<div style="display: flex; flex-wrap: wrap;">
						{% for button in buttonsBackgroundPurple %}
							<div class="mb-32 mr-32">
								{% view '@button' with button %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>


		<div class="py-24">
			<div class="container">
				<p class="h2 mb-24"><code>@button-text</code></p>

				<div class="mb-24">
					<div style="display: flex; flex-wrap: wrap;">
						{% for button in buttons_text %}
							<div class="mb-32 mr-32">
								{% view '@button-text' with button %}
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="mb-24 px-24 py-24 bg-black">
					<p class="text-lead mb-16 color-white"><code>on black background</code></p>

					<div style="display: flex; flex-wrap: wrap;">
						{% for button in buttonsTextBackgroundLight %}
							<div class="mb-32 mr-32">
								{% view '@button-text' with button %}
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="mb-24 px-24 py-24 bg-purple">
					<p class="text-lead mb-16 color-white"><code>on purple background</code></p>

					<div style="display: flex; flex-wrap: wrap;">
						{% for button in buttonsTextBackgroundLight %}
							<div class="mb-32 mr-32">
								{% view '@button-text' with button %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<!--<editor-fold desc="@nav-arrows">-->

		<div class="py-24">
			<div class="container">
				<p class="h2 mb-24">@nav-arrows</p>

				<div class="mb-24">
					<p class="text-lead mb-16"><code>Nav-arrows</code></p>

					<div style="display: flex; flex-wrap: wrap;">
						<div class="py-8 px-8">
							{% view '@nav-arrows' %}
						</div>
					</div>
				</div>

				<div class="mb-24 py-24 px-24 bg-black">
					<p class="text-lead mb-16 color-white"><code>Nav-arrows</code></p>

					{% view '@nav-arrows' with {
						nav_arrows: {
							background: "black"
						}
					} %}
				</div>

				<div class="mb-24 py-24 px-24 bg-purple">
					<p class="text-lead mb-16 color-white"><code>Nav-arrows</code></p>

					{% view '@nav-arrows' with {
						nav_arrows: {
							background: "purple"
						}
					} %}
				</div>
			</div>
		</div>

		

		<!--<editor-fold desc="@badge">-->

		<div class="py-24">
			<div class="container">
				<p class="h2 mb-24"><code>@badge</code></p>

				<div class="mb-24">
					<p class="text-lead mb-16"><code>Badge</code></p>

					<div style="display: flex; flex-wrap: wrap;">
						{% for badge in badges %}
							<div class="py-8 px-8">
								{% view '@badge' with {
									badge: badge
								} %}
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="mb-24 px-24 py-24 bg-black">
					<p class="text-lead mb-16 color-white"><code>Badge</code></p>

					<div style="display: flex; flex-wrap: wrap;">
						{% for badge in badges %}
							<div class="py-8 px-8">
								{% view '@badge' with {
									badge: badge
								} %}
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="mb-24 px-24 py-24 bg-purple">
					<p class="text-lead mb-16 color-white"><code>Badge</code></p>

					<div style="display: flex; flex-wrap: wrap;">
						{% for badge in badgesBackgroundPurple %}
							<div class="py-8 px-8">
								{% view '@badge' with {
									badge: badge
								} %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

	</div> #}

{% endblock %}
