{% extends "layouts::_page.twig" %}

{% block content %}

	<div class="py-24">
        <div class="container">
            <p class="h2 mb-24"><code>@search-field</code></p>

            <div data-fade-in-up>
                {% view '^search-form' %}
            </div>


             <p class="h2 mt-24"><code>@card-product</code></p>
             <p class="mt-112"></p>

            <div data-fade-in-up data-delay="0.3">
                {% view '^card-product' %}
            </div>

        </div>
    </div>


{% endblock %}
