{% extends "layouts::_page.twig" %}

{% block content %}

	<div>
		<!--<editor-fold desc="&features">-->

		<div class="py-24">
			<div class="container">
				<p class="h2 mb-24"><code>&block-contacts</code></p>

				{% view '&block-contacts' %}
			</div>
		</div>


		<div class="py-24">
			<div class="container">
				<p class="h2 mb-24"><code>&slider-products</code></p>

				{% view '&slider-product' %}
			</div>
		</div>

		
	</div>

{% endblock %}
