.form {
	$root: &;
	position: relative;

	&__text-upload {
		display: inline-block;
    	margin-right: rem(5);
		font-size: rem(15);
		text-transform: uppercase;
	}

	&__wrapper {
		margin-left: auto;
		width: 100%;
		box-sizing: content-box;
		max-width: initial;
		min-height: auto;

		@include media-breakpoint-up(md) {
			padding: rem(55) rem(222) 0 rem(80);
			max-width: rem(434);
			min-height: rem(560);
        }

		@include media-breakpoint-only(md) {
			padding: 0;
			max-width: initial;
			min-height: rem(640);
		}
	}

	&__content {
		#{$root}.is-sent & {
			display: none;
		}
	}

	&__title {
        @include h3;
        margin-bottom: rem(11);

        @include media-breakpoint-down(md) {
            margin-bottom: rem(13);
        }

		@include media-breakpoint-down(sm) {
            margin-bottom: rem(5);
        }

        &-line {
            span {
                font-weight: 700;
            }
        }

		#{$root}.is-sent & {
			display: none;
		}
    }


	&__info {
		// margin-bottom: rem(13);

		@include media-breakpoint-down(md) {
			margin-bottom: rem(6);
        }
	}

	&__field {
		width: 33.333%;

		@include media-breakpoint-down(sm) {
			width: 100%;
		}

		&:not(:last-child){
			margin-bottom: rem(4);
			margin-right: rem(30);

			@include media-breakpoint-down(md) {
				margin-right: rem(8);
			}

			@include media-breakpoint-down(sm) {
				margin-right: 0;
				margin-bottom: rem(8);
			}
		}
	}

	&__fields {
		display: flex;
		margin-bottom: rem(28);

		@include media-breakpoint-down(sm) {
			display: block;
		}
	}

	&__agreement {
	//	color: $color-opacity-dark;
		margin-bottom: rem(32);
		max-width: rem(268);
	}

	&__answer {
		display: none;
		max-width: rem(400);
		width: 100%;
		margin-right: auto;

		@include media-breakpoint-down(sm) {
			max-width: rem(252);
        }

		#{$root}.is-sent & {
			display: block;
		}

		& > :last-child {
			margin-bottom: 0;
		}
	}

	&-answer-title {
		@include h3;
		margin-bottom: rem(16);

		@include media-breakpoint-up(md) {
			margin-bottom: rem(32);
		}

		span {
			font-weight: 500;
		}
	}

	&__answer-message {
		margin-bottom: rem(16);
		max-width: rem(220);
	}

	&__answer-caption {
		color: rgba($color-black, 0.5);
		max-width: rem(240);
	}
	
	&__icon-upload {
		margin-right: rem(10);
	}

	&__upload-file {
		width: 100%;

		.button {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: center;
			width: 100%;
			padding: 0 rem(96);
			height: rem(46);
		}
	}

	&__slider {
		width: 100%;
		margin-right: rem(30);
		position: relative;

		@include media-breakpoint-down(md) {
			margin-bottom: rem(32);
		}
	}

	&__slider-slider {
		background-color: rgba(255, 255, 255, 0.7);
	
		border: rem(2) solid $color-white;
		border-radius: rem(8);

		.ui-slider-handle {
			width: rem(23);
			height: rem(23);
			background: $color-blue-2;
			border-radius: 50%;
			border: 3px solid $color-purple;
			cursor: pointer;
			@include defaultTransition(transform);

			&:hover {
				transform: scale(1.1);
			}
		}
	}

	&__bottom {
		display: flex;
		align-items: center;

		@include media-breakpoint-down(md) {
			display: block;
		}
	}

	&__submit {
		display: flex;
    	justify-content: center;
		margin-top: rem(53);

		@include media-breakpoint-down(sm) {
			margin-top: rem(24);
		}
	}
}

.file-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: row;
	padding-top: rem(4);
	padding-bottom: 0;
	margin-left: rem(-9);
	position: absolute;
    top: 0;
    width: 100%;
    background: white;
	color: #2A2B30;
    left: 0;
    right: 0;
    margin: 0;
	
	.icon {
		min-width: rem(24);
		transform: rotate(78deg) scale(1, -1);
		width: rem(40);
		height: rem(40);
	}

	&__text {
		display: flex;
		flex-direction: column;
		margin-left: 0;
		margin-right: rem(13);
		justify-content: center;
	}

	&__name,
	&__info {
		@include h3;
		word-break: break-all;
	}

	&__info {
		opacity: 1;
	}

	&__close {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(14);
		height: rem(14);
		z-index: 2;
		padding: 0;
		margin: 0;
		border: none;
		background-color: transparent;
		@include defaultTransition(background-color, color);
		transform: translateY(90%);

		@include media-breakpoint-down(sm) {
			width: rem(14);
			height: rem(14);
		}

		&:after, &:before {
			position: absolute;
			content: "";
			height: 100%;
			width: 2px;
			background-color: $color-black;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			border-radius: 5px;
		}

		&:after {
			transform: rotate(45deg);
		}

		&::before {
			transform: rotate(-45deg);
		}

		.icon {
			display: none;
			transform: none;
		}
	}









	
}