<div class="slider">
    <input type="hidden" name={{form.slider.name}} id={{form.slider.id}}  />
    <b class="slider__box h3">{% if slider.label %}{{slider.label}}{% endif %} <span data-slider-res class="slider__res"></span></b>
    <div {% if form.slider.attr %}{{form.slider.attr}}{% endif %} class="slider__slider"></div>
</div>