.slider {
    width: 100%;

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 23px;
        padding-right: rem(3);

        @include media-breakpoint-down(sm) {
			font-size: rem(13);
		}
    }

    &__res {
        font-weight: 600;
    }

    &__slider {
        background-color: rgba(255, 255, 255, 0.7);
        border: rem(2) solid $color-white;
        border-radius: rem(8);
        height: rem(6);

        .ui-slider-handle {
            width: rem(25);
            height: rem(25);
            top: rem(-12);
            background: $color-blue-2;
            border-radius: 50%;
            border: 3px solid $color-purple;
            cursor: pointer;
            @include defaultTransition(transform);

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}