<header class="header" data-header>
	<div class="header__container container">
		<div class="header__content">
			{% if header.geo %}
				<div class="header__geo">
				</div>
			{% endif %}
			<nav class="header__navigation">
				<ul class="header__list">
					{% for item in header.navigation %}
						<li class="header__item">
							{% if item.href %}
								<a href="{{ item.href }}"
								   class="header__link"{% if item.external %} target="_blank"{% endif %}>{{ item.text }}</a>
							{% else %}
								<span class="header__link header__link--active">{{ item.text }}</span>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</nav>
		</div>
	</div>
</header>
