.header {
	$root: &;

	position: relative;
	z-index: 100;
	display: block;
	width: 100%;
	background-color: $color-white;
	box-shadow: 0 4px 4px rgba(0,0,0,0.15);

	&:before {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-white;
		content: "";
	}

	&__container {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		height: rem(60);
		width: 100%;
	}


	&__qty {
		position: absolute;
		right: 0;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-size: rem(12);
		background-color: red;
		border-radius: 50%;
		height: rem(20);
		width: rem(20);
		right: rem(-8);
		bottom: rem(10);

		&--gray {
			background-color: #E9E9E9
		}

		&--red {
			background-color: $color-red-2;
			color: white;
		}
	}



	&__content {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100%;

		@include media-breakpoint-up(lg) {
			justify-content: space-between;
		}
	}

	&__navigation {
		margin-left: auto;
		@include media-breakpoint-down(md) {
			display: none;
		}
	}

	&__icon {
		position: relative;
		margin-right: rem(16);
		top: -1px;
	}

	&__list {
		display: flex;
		align-items: center;
	}

	&__items {
		display: flex;
		align-items: center;
	}

	&__item {
		&:not(:last-child) {
			margin-right: rem(82);
		}
	}

	&__link {
		display: block;
		font-family: $ff-title;
		font-size: rem(16);
		line-height: rem(32);
		font-weight: 500;
		color: $color-black;
		border: 0;
		padding: 0;
		background-color: transparent;
		cursor: pointer;
		@include defaultTransition(color);
		text-transform: uppercase;

		// @include touchLessHover {
		// 	color: $color-red;
		// }

		&--has-submenu {
			position: relative;
			padding-right: rem(18);

			.icon {
				position: absolute;
				top: calc(50% - #{rem(4)});
				right: 0;
				@include defaultTransition(transform);
			}
		}

		&--active {
			color: $color-red;
			cursor: default;

			.icon {
				transform: rotate(180deg);
			}
		}

		@include hover {
			color: $color-red;
		}
	}

	&__actions {
		display: flex;
		align-items: center;
	}

	&__buttons {
		display: flex;
		align-items: center;
	}

	&__links {
		display: flex;
		align-items: center;
		font-size: 0;
		line-height: 1;

		@include media-breakpoint-up(lg) {
			margin-right: rem(102);
		}
		@include media-breakpoint-only(md) {
			margin-right: rem(64);
		}
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}

	&__action-link {
		&:not(:last-child) {
			margin-right: rem(16);
		}
	}


	// sal, gsap

	& [data-header-item] {
		opacity: 0;
	}

	&.is-ready [data-header-item] {
		opacity: 1;
	}

	&.anim-init [data-header-item] {
		opacity: 1 !important;
		transform: none !important;
	}

	&__submenu {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	
}
