<div class="block-order">
    <div class="block-order__container container" data-animate>
        {% if block.title %}
            <div class="block-order__title h2" data-animate>
                {{block.title}}
            </div>
        {% endif %}

        {% if block.subtitle %}
            <div class="block-order__subtitle" data-animate>
                {{block.subtitle}}
            </div>
        {% endif %}

        {% if block.block_benefit %}
            <div class="block-order__benefit">
                {% view '&block-benefit' with {
                    block: block.block_benefit
                } %}
            </div>
        {% endif %}

        {% view '&form' with {
            form: block.formOrder
        }%}

    </div>
    {% if block.background %}
        <div class="block-order__background">
            {% view '@image-adaptive' with {
                image: block.background
            } %}
        </div>
    {% endif %}

   
</div>