.footer {
    background-color: $color-gray;
    color: $color-white;

    &__contacts {
        display: flex;
        align-items: center;
        margin-left: auto;
        padding-left: rem(40);

        @include media-breakpoint-down(md) {
            margin: 0 0 rem(8);
            padding: 0;
		}
    }

    &__link {
        display: flex;
        align-items: center;
        font-size: rem(13);
        color: $color-white;

        &-icon {
            color: $color-blue;
            margin-right: rem(12);
        }

        &:not(:last-child){
            margin-right: rem(44);

            @include media-breakpoint-down(md) {
                margin-right: rem(16);
            }
        }

        @include defaultTransition(color);

		@include hover {
			color: $color-blue;	
		}
    }

    &__copy {
        color: $color-white;
        font-size: rem(13);
        padding-right: rem(40);
    }

    &__pay {
        display: flex;
        align-items: center;
        padding: 0 rem(40);
        border-left: 1px solid;
        border-right: 1px solid;
        flex: 1;

        @include media-breakpoint-down(sm) {
            display: block;
        }

        &-item {
            &:not(:last-child){
                margin-right: rem(40);

                @include media-breakpoint-down(md) {
                    margin-right: rem(16);
                }

                @include media-breakpoint-down(sm) {
                    margin: 0 0 rem(8);
                }
            }
        }

        @include media-breakpoint-down(md) {
            margin: 0 0 rem(8);
            padding: 0;
            border: none;
		}
    }

    &__container {
        display: flex;
        align-items: center;
        padding-top: rem(28);
        padding-bottom: rem(28);


        @include media-breakpoint-down(md) {
            flex-direction: column-reverse;
            align-items: flex-start;
		}
      
    }

   
}