<div class="search-form" data-fade-in-up>
	<form class="search-form__form"
			action="{{ search_form.action }}"
			method="{{ search_form.method }}"
			{{ search_form.attr }}
	>
		{{ search_form.raw_html }}
		{% if search_form.field %}
			{% view '^field' with {
				field: search_form.field|merge({search: true})
			} %}
		{% endif %}
	</form>
</div>
