$black: #212121;
$white: #fff;
$light-gray: #999;
$light-brown: #9f9797;
$blue: #2D376C;
$black: #474747;
$gray: #f2f2f2;
$light-blue: #1E88E5;
$dark-blue: #2D376C;
$light-green: #d0e6dc;
// =========Btn====
$orange: #FFC001;
$btn-active: #727678;
