@font-face {
  font-family: "Roboto-Regular";
  src : url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Oswald-Light";
  src : url("../fonts/Oswald-Light.ttf");
}

@font-face {
  font-family: "Oswald-Regular";
  src : url("../fonts/Oswald-Regular.ttf");
}

